<!DOCTYPE HTML>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>
    <div class='container'>
        <div class='header'> 
            The content of the document......
        </div>
        <div class='menu'> 
            The content of the document......
        </div>
        <div class='content'> 
            The content of the document......
        </div>
        <div class='footer'> 
            The content of the document......
        </div>
    </div>
</body>

</html>
