<!DOCTYPE HTML>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body> 
    <div class='menu-container'> 
        <div class='menu'> 
            <div class='menu-button'> 
                <p>
                    Menu.
                </p>
            </div>
            <div class='menu-button'> 
                <p>
                    Menu.
                </p>
            </div>
            <div class='menu-button'> 
                <p>
                    Menu.
                </p>
            </div>
            <div class='menu-button'> 
                <p>
                    Menu.
                </p>
            </div>
        </div>
    </div>
    <div class='header'> 
            Header
        </div>
    <div class='container'>
   
        
     
        <div class='content'> 
            Content
        </div>
       
    </div> <div class='footer'> 
            <p>Footer</p>
        </div>
</body>

</html>
