<!DOCTYPE HTML>
<html>
<head>
<title>SITE OF DOOOOOOOOOOOOM!!!!!!!</title>
<link rel="stylesheet" type="text/css" href="static/style.css" />
</head>

<body> 
    <div class='menu-container'> 
        <div class='menu'> 
            <div class='menu-button'> 
                <p>
                    <a href="/" title="home">HOME</a>
                </p>
            </div>
            <div class='menu-button'> 
                <p>
                    <a href="/list" title="list">LIST</a>
                </p>
            </div>
            <div class='menu-button'> 
                <p>
                    <a href="/techniques" title="techniques">TECHNIQUES</a>
                </p>
            </div>
           
                    <img src="../static/RSS-Icon-Transparent.png" height="40px" width="40px" style="padding-top:1px;float:right;padding-left:5px;padding-right:5px;" />
                    <img src="../static/Twitter-Blue-Transparent-t-3D-Button-Logo.png" height="40px" width="40px" style="padding-top:1px;padding-left:0px;padding-right:0px;float:right;" />
            
           
            <div class='menu-search'> 
                 
                    <form >
                        <input type="text" name="search" /> <input type="submit" name="search-button" value="Search"/>
                    </form>
                
            </div> 

        </div>
    </div>
    <div class='header'> 
            Header
        </div>
    <div class='container'>
   
        
     
        <div class='content'> 
          Content here..
        </div>
       
    </div> <div class='footer'> 
            <p>Footer</p>
        </div>
</body>

</html>
