{% extends "main.html" %}
{% block content %}

    
    <img src="../static/{{project['big_image']}}" />
    <h3>{{project['project_name']}}</h3>
   <p> {{project['long_description']}}</p>

    <h4>Techniques used:</h4>
<p>
    {%for tech in project['techniques_used']%}
        {{tech}}
    {%endfor%}
</p>
<br />
  projektet pågick mellan   
{{project['start_date']}} och 
{{project['end_date']}}
{% endblock %}

{% block search %}
                    <form action="/search" title="search" method="GET" >
                        <input id="search" type="text" name="search" /> <input type="submit" value="Search"  />
                    </form>
{% endblock %}
