.container{margin: 0 auto; border: 2px solid blue; }
.header{margin: 0 auto; border: 2px solid yellow; }
.menu{margin: 0 auto; border: 2px solid purple; }
.content{margin: 0 auto; border: 2px solid red; }
.footer{margin: 0 auto; border: 2px solid green; }
