<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
<title>SITE OF DOOM!</title>
<link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>

<body> 
    <div class='menu-container'> 
        <div class='menu'> 
            <div class='menu-button' style="cursor:pointer;" onclick="
    location.href='/';"> 
                <p>
                    Main
                </p>
            </div>
            <div class='menu-button' style="cursor:pointer;" onclick="
    location.href='/list';"> 
                <p>
                    List
                </p>
            </div>
            <div class='menu-button' style="cursor:pointer;" onclick="
    location.href='/techniques';"> 
                <p>
                    Techniques
                </p>
            </div>
            
           
                    <img src="../static/RSS-Icon-Transparent.png" alt="RSS Icon" height="40px" width="40px" style="padding-top:1px;float:right;padding-left:5px;padding-right:5px;" />
                    <img src="../static/Twitter-Blue-Transparent-t-3D-Button-Logo.png" alt="Twitter icon" height="40px" width="40px" style="padding-top:1px;padding-left:0px;padding-right:0px;float:right;" />
            
           
            

        </div>
    </div>
<!--     <div class='header'> 
            
        </div>-->
    <div class='container'>
   
        
     
        <div class='content'> 

    {% block content %} {% endblock %} <!-- defines where the content block is -->
        </div>

       
    </div><!--  <div class='footer'> 
            Ett projekt av Jonathan Karlsson och Simon Erlandsson
        </div> -->
</body>

</html>
